/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .caption-move {
    font-size: 20px;
  }
  .navbar-nav {
    margin-top: 1rem;
  }
  .nav-item {
    margin-bottom: .8rem;
  }
  .nav-icons {
    display: none;
  }
  .mt-sma-5 {
    margin-top: 3rem;
  }
  .con-btn {
    text-align: center;
  }
  .con-btn h3 {
    margin-bottom: 2rem;
  }
  .bottom-footer .row {
    text-align: center!important;
  }
  .bottom-footer .copy {
    margin-top: 1rem;
  }
  #client-reviews .carousel-indicators [data-bs-target] {
    width: 50px;
    height: 50px;
  }
  #client-reviews .carousel-indicators .active {
    width: 55px;
    height: 55px;
  }
  .client-comment p {
    width: 100%!important;
    font-size: 1rem!important;
  }
  .carousel-indicators {
    top: -75%;
  }
  #client-reviews .carousel-inner {
    margin-top: 8rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .caption-move {
    font-size: 40px;
  }
  .navbar-nav {
    margin-top: 1rem;
    padding-left: 2rem;
  }
  .nav-item {
    margin-bottom: .8rem;
  }
  .nav-icons {
    display: none;
  }
  .mt-sma-5 {
    margin-top: 3rem;
  }
  #client-reviews .carousel-indicators [data-bs-target] {
    width: 55px;
    height: 55px;
  }
  #client-reviews .carousel-indicators .active {
    width: 75px;
    height: 75px;
  }
  .client-comment p {
    width: 75%!important;
  }
  .carousel-indicators {
    top: -65%;
  }
  #client-reviews .carousel-inner {
    margin-top: 8rem;
  }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .caption-move {
    font-size: 50px;
  }
  .navbar-nav {
    margin-top: 1rem;
  }
  .nav-item {
    margin-bottom: .8rem;
  }
  .nav-icons {
    display: none;
  }
  .mt-sma-5 {
    margin-top: 3rem;
  }
  #client-reviews .carousel-indicators [data-bs-target] {
    width: 80px;
    height: 80px;
  }
  #client-reviews .carousel-indicators .active {
    width: 100px;
    height: 100px;
  }
  .client-comment p {
    width: 75%!important;
  }
  .carousel-indicators {
    top: -65%;
  }
  #client-reviews .carousel-inner {
    margin-top: 8rem;
  }
}

/*  Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}